<h1>Result</h1>
<p><%= params[:answer] %></p>

<!-- The word can’t be built out of the original grid
The word is valid according to the grid, but is not a valid English word
The word is valid according to the grid and is an English word -->
